In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('F:\ML_practice_dataset\Bankruptcy_data.csv')

In [5]:
df.shape

(36553, 66)

In [6]:
df.head(2).T

               0          1
ID       1.00000   2.000000
Attr1    0.13537   0.005861
Attr2    0.45185   0.398580
Attr3    0.31162   0.197680
Attr4    2.04690   1.939000
...          ...        ...
Attr61   8.83420   4.278500
Attr62  48.17200  78.499000
Attr63   7.57700   4.649700
Attr64   5.77250   1.653900
target   0.00000   0.000000

[66 rows x 2 columns]

In [7]:
df.describe()

,ID,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,Attr9,...,Attr56,Attr57,Attr58,Attr59,Attr60,Attr61,Attr62,Attr63,Attr64,target
count,36553.000000,36545.000000,36545.000000,36545.000000,36442.000000,3.647700e+04,36545.000000,36545.000000,36474.000000,36546.000000,...,3.644000e+04,36546.000000,3.647700e+04,36546.000000,3.472000e+04,36467.000000,3.644000e+04,36442.000000,35859.000000,36553.000000
mean,18277.000000,0.051461,0.577743,0.127402,6.838949,-4.823320e+02,-0.030899,0.115142,12.906786,2.674919,...,-3.114462e+01,-0.017852,3.495525e+01,1.480542,4.820583e+02,17.681064,1.783960e+03,9.416529,77.345570,0.048286
std,10552.086531,1.670725,5.438081,4.917424,321.804895,6.617408e+04,6.518182,5.628794,520.063823,64.903626,...,5.806271e+03,14.507844,5.812797e+03,132.743470,3.509410e+04,600.955679,1.512356e+05,131.812478,2560.625896,0.214373
min,1.000000,-256.890000,-430.870000,-479.960000,-0.045319,-1.190300e+07,-508.410000,-517.480000,-141.410000,-3.496000,...,-1.108300e+06,-1667.300000,-1.986900e+02,-327.970000,-1.244000e+01,-12.656000,-1.496500e+04,-0.367890,-3.726500,0.000000
25%,9139.000000,0.003342,0.269610,0.022121,1.050625,-4.900900e+01,0.000000,0.005693,0.428970,1.018700,...,9.144250e-03,0.014675,8.751900e-01,0.000000,5.524575e+00,4.512200,4.212250e+01,3.098925,2.187150,0.000000
50%,18277.000000,0.049595,0.472550,0.197470,1.571500,-8.095900e-01,0.000000,0.059546,1.069300,1.199900,...,5.293650e-02,0.120480,9.508600e-01,0.005514,9.753600e+00,6.634200,7.141350e+01,5.078750,4.308900,0.000000
75%,27415.000000,0.130080,0.689240,0.404840,2.794200,5.104700e+01,0.086872,0.151670,2.606125,2.063000,...,1.294525e-01,0.286285,9.927100e-01,0.234970,2.016175e+01,10.379500,1.171925e+02,8.606525,9.788900,0.000000
max,36553.000000,94.280000,480.960000,28.336000,53433.000000,1.034100e+06,543.250000,649.230000,53432.000000,9742.300000,...,1.120200e+02,552.640000,1.108300e+06,23853.000000,4.818700e+06,108000.000000,2.501600e+07,23454.000000,294770.000000,1.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36553 entries, 0 to 36552
Data columns (total 66 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      36553 non-null  int64
 1   Attr1   36545 non-null  float64
 2   Attr2   36545 non-null  float64
 3   Attr3   36545 non-null  float64
 4   Attr4   36442 non-null  float64
 5   Attr5   36477 non-null  float64
 6   Attr6   36545 non-null  float64
 7   Attr7   36545 non-null  float64
 8   Attr8   36474 non-null  float64
 9   Attr9   36546 non-null  float64
 10  Attr10  36545 non-null  float64
 11  Attr11  36516 non-null  float64
 12  Attr12  36442 non-null  float64
 13  Attr13  36440 non-null  float64
 14  Attr14  36545 non-null  float64
 15  Attr15  36525 non-null  float64
 16  Attr16  36473 non-null  float64
 17  Attr17  36474 non-null  float64
 18  Attr18  36545 non-null  float64
 19  Attr19  36439 non-null  float64
 20  Attr20  36440 non-null  float64
 21  Attr21  31570 non-null  float64
 22  Attr22  36545 non-null  float64
 23  Attr23  36440 non-null  float64
 24  Attr24  35759 non-null  float64
 25  Attr25  36545 non-null  float64
 26  Attr26  36473 non-null  float64
 27  Attr27  34210 non-null  float64
 28  Attr28  35859 non-null  float64
 29  Attr29  36545 non-null  float64
 30  Attr30  36440 non-null  float64
 31  Attr31  36440 non-null  float64
 32  Attr32  36241 non-null  float64
 33  Attr33  36442 non-null  float64
 34  Attr34  36474 non-null  float64
 35  Attr35  36545 non-null  float64
 36  Attr36  36545 non-null  float64
 37  Attr37  20460 non-null  float64
 38  Attr38  36545 non-null  float64
 39  Attr39  36440 non-null  float64
 40  Attr40  36442 non-null  float64
 41  Attr41  35903 non-null  float64
 42  Attr42  36440 non-null  float64
 43  Attr43  36440 non-null  float64
 44  Attr44  36440 non-null  float64
 45  Attr45  34724 non-null  float64
 46  Attr46  36441 non-null  float64
 47  Attr47  36301 non-null  float64
 48  Attr48  36544 non-null  float64
 49  Attr49  36440 non-null  float64
 50  Attr50  36474 non-null  float64
 51  Attr51  36545 non-null  float64
 52  Attr52  36297 non-null  float64
 53  Attr53  35859 non-null  float64
 54  Attr54  35859 non-null  float64
 55  Attr55  36553 non-null  float64
 56  Attr56  36440 non-null  float64
 57  Attr57  36546 non-null  float64
 58  Attr58  36477 non-null  float64
 59  Attr59  36546 non-null  float64
 60  Attr60  34720 non-null  float64
 61  Attr61  36467 non-null  float64
 62  Attr62  36440 non-null  float64
 63  Attr63  36442 non-null  float64
 64  Attr64  35859 non-null  float64
 65  target  36553 non-null  int64
dtypes: float64(64), int64(2)
memory usage: 18.4 MB

In [9]:
df.isnull().sum()

ID          0
Attr1       8
Attr2       8
Attr3       8
Attr4     111
         ...
Attr61     86
Attr62    113
Attr63    111
Attr64    694
target      0
Length: 66, dtype: int64

In [10]:
df.isnull().sum().sum()

35187

In [11]:
df['Attr1'].fillna(np.mean(df['Attr1']), inplace = True)

In [12]:
df.Attr1.isnull().sum()

0

# Central Imputation
* Numerical Columns = Replaces the Missing Value with Mean
* Categorical Columns = Replaces the Missing Value with Mode

In [ ]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer()

In [ ]:
df1 = pd.DataFrame(impute.fit_transform(df))
df1.isnull().sum().sum()

In [ ]:
df1.isnull().sum()

In [ ]:
# Feature Engineering

from sklearn.preprocessing import MinMaxScaler
rangefn = MinMaxScaler()
df2 = pd.DataFrame(rangefn.fit_transform(df1))

# Independent  & Target Variables

In [ ]:
x = df2.iloc[:, 1:-1]
print('Independent Variables are:\n', x.head(2))

In [ ]:
y = df2.iloc[:, [-1]]
print('Target Variable is:\n', y.head(2))

In [ ]:
y = np.ravel(y)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
log_reg = LogisticRegression()

In [ ]:
model = log_reg.fit(x,y)

In [ ]:
model.coef_

In [ ]:
model.intercept_

In [ ]:
y_hat = model.predict(x)
y_hat

In [ ]:
model.score(x,y)

# Errors

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y, y_hat)
print(cm)

In [ ]:
sns.heatmap(pd.DataFrame(cm), annot = True, fmt = 'g')
plt.show()

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y, y_hat))

# ROC and AUC
* ROC = Receiver Operating Characteristics Curve
* AUC = Area Under ROC Curve

In [ ]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve

In [ ]:
roc_score = roc_auc_score(y, model.predict(x))
fpr, tpr, thresholds = roc_curve(y, model.predict_proba(x)[:,1])
plt.figure(figsize = (15, 8))
plt.plot(fpr, tpr, label = 'Logistic Regression (area = %0.2f)' % roc_score)
plt.plot([0,1], [0,1], 'r--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.0])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristics Curve')
plt.legend(loc='lower right')
plt.show()

# KNN

In [ ]:
df1 = pd.read_csv('F:\ML_practice_dataset\Bankruptcy_data.csv')

In [ ]:
df1.head()

In [ ]:
from sklearn.impute import SimpleImputer
impute = SimpleImputer()

In [ ]:
df1 = pd.DataFrame(impute.fit_transform(df))
df1.isnull().sum().sum()

In [ ]:
df1.isnull().sum()

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(df1.drop('target',axis=1))

In [ ]:
scaled_features = scaler.transform(df1.drop('target',axis=1))

In [ ]:

df_feat = pd.DataFrame(scaled_features,columns=df1.columns[:-1])
df_feat.head()

### Train test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(scaled_features,df1['target'],
                                                    test_size=0.30)

Using KNN
Remember that we are trying to come up with a model to predict whether someone will TARGET CLASS or not. We'll start with k=1.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(X_train,y_train)